page-login{
    .botoneraLogin{
        height: 60%;
        width: 90%;
        margin: auto;
        position: absolute;
        bottom: 0;
    }
    button{
        margin-bottom: 15px !important;
        &.gg{

        }
        &.fg{
            
        }
    }
}