<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card  *ngFor="let item of items | async" >
        <ion-item (click)="(!item._playing?play(item):stop())">
                <ion-avatar item-start >
                    <img [src]="externalRoot+'/Imagenes/'+item._usu+'.jpg'" >
                    <ion-icon *ngIf="!item._playing" name="play"></ion-icon> 
                    <ion-icon *ngIf="item._playing" name="pause"></ion-icon>
                </ion-avatar>
                <h2>{{getUsuName(item._usu)}}</h2>
                <p>{{item._timeRecorded}}</p>
                <p>{{item._duration}} </p>
        </ion-item>
    </ion-card>

    <ion-fab  right bottom >
        <button ion-fab [disabled]="recording" (click)='record()'><ion-icon name="microphone"></ion-icon></button>
    </ion-fab>
</ion-content>
