<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card  *ngFor="let item of items | async" >
        <ion-item>
                <ion-avatar item-start >
                    <img src="assets/img/bg.png" (click)="(!playing?play(item.name):stop())">
                    <ion-icon *ngIf="!playing" name="play"></ion-icon> 
                    <ion-icon *ngIf="playing" name="pause"></ion-icon>
                </ion-avatar>
                <h2>{{item._usu}}</h2>
                <p>{{item._timeRecorded}}</p>
        </ion-item>
    </ion-card>


    <ion-fab  right bottom >
        <button ion-fab [disabled]="recording" (click)='record()'><ion-icon name="microphone"></ion-icon></button>
    </ion-fab>
</ion-content>
